.center{
    margin: 0 auto;
    display: block;
}
.form__list{
    
    display: flex;
    justify-content: center;
    li{
        margin: 10px 10px;
       
    }
    a{
        text-decoration: none;
        color: rgba(150, 149, 149, 0.342);  
        &:hover{
            color:rgba(219, 219, 219, 0.342);;
        }
    }
}